@import './src/assets/variables';

.toolbar {
  padding: 10px 100px !important;
  :first-child {
    img {
      padding: 6px;
      border-radius: 35px;
      background: $white;
    }
  }

  .mat-icon {
    margin: 0 10px !important;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}
